@{
    ViewData["Title"] = "Home Page";
}

@model  IQueryable<Project>
<div class="text-center">
    <h1>Bookstore</h1>
</div>

<!-- This page returns the list of books stored in the database-->

<table class="table">
    <thead>
        <tr><th>Title</th><th>Author</th><th>Publisher</th><th>ISBN</th><th>Classification</th><th>Price</th></tr>
    </thead>
    <tbody>
        @foreach (var x in Model)
        {
            <tr>
                <td>@x.Title</td>
                <td>@x.Author</td>
                <td>@x.Publisher</td>
                <td>@x.ISBN</td>
                <td>@x.Classification</td>
                <td>@x.Price</td>
            </tr>
        }
    </tbody>
</table>